@model LancheListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class= "cotainer">
    <div class="row">
@foreach(var lanches in Model.lanches)
{
    <partial name ="_LanchesResumo" for="@lanches"/>
}
    </div>
</div>